#box{
    position: relative;
    top: 85%;
    left: 40%;
    border: 10px solid red;
    height: 10%;
    width: 15%;
}
#border{
    position: absolute;
    top: 10%;
    left: 25%;
    border: 5px solid green;
    height: 75%;
    width: 50%;
}
.btn{
    position: relative;
    top: 90%;
    left: 40%;
}